<!DOCTYPE html>
<html  ng-app="fruitkit">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.3/angular-moment.min.js"></script>
    <script src="/node_modules/angular-ui-router/release/angular-ui-router.js"></script>

    <script src='/node_modules/lodash/lodash.min.js'></script>
    <script src='/node_modules/angular-simple-logger/dist/angular-simple-logger.min.js'></script>
    <script src='/node_modules/angular-google-maps/dist/angular-google-maps.js'></script>
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
     
    <script src="js/fruitkit.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/mainController.js"></script>
    <script src="js/customersController.js"></script>
    <script src="js/ordersController.js"></script>
    <script src="js/todayController.js"></script>
    <script src="js/weekController.js"></script>
    <script src="js/singleOrderController.js"></script>
    <script src="js/packageController.js"></script>
    <script src="js/employeesController.js"></script>
    <script src="js/singlePackageController.js"></script>
   
    <script src="js/angular-map.js"></script>

    <script stc="js/addOrderDirective.js"></script>

    
  </head>
  <body>
   <div class="container-fluid">
    <nav class="row navbar navbar-inverse" ng-controller="switchRootDirectives">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Fruitkit</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li class="dropdown fk-menu-item-xl fk-menu-item1-mb">
            <a class="dropdown-toggle" data-toggle="dropdown">
               Customers
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <a ng-click="addCustomer()">Add</a>
              </li>
              <li><a href="#customers">Customer list</a> </li>
              <li><a href="#">Customer Reports</a> </li> 
            </ul>
          </li>
          <li class="dropdown fk-menu-item-xl fk-menu-item2-mb">
            <a class="dropdown-toggle" data-toggle="dropdown">
               Employees
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li> <a ng-click="addEmployee()">Add Employee </a></li>
              <li><a href="#employees">Employees list</a> </li>
              <li><a href="#">Reports</a> </li>
            </ul>
          </li> 
          <li class="dropdown fk-menu-item-xl fk-menu-item3-mb">
            <a class="dropdown-toggle" data-toggle="dropdown">
              Fruitpacks
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li> <a ng-click="addFruitpack()">Add Fruitpack </a></li>
              <li><a href="#fruitpacks">Fruitpack list</a> </li>
              <li><a href="#">Reports</a> </li>
            </ul>
          </li> 
          <li class="dropdown fk-menu-item-xl fk-menu-item4-mb">
            <a class="dropdown-toggle" data-toggle="dropdown">
              Orders
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <a ng-click="addOrder()">Try</a>

              </li>
              <li><a href="#orders">Order list</a> </li>
              <li><a href="#">Reports</a> </li>
            </ul>
          </li> 
        </ul>
      </div>
      <!--Root directives -->
      <div>
        <div class="" ng-if="addNewOrder">
         <add-order></add-order>
        </div>
        <add-order ng-if="addNewOrder"></add-order>
        <add-customer ng-if="addNewCustomer"></add-customer>
        <add-fruitpack ng-if="addNewFruitpack"></add-fruitpack>
       <add-employee ng-if="addNewEmployee"></add-employee>
      </div>
    </nav>
   
    <div >
      <div ng-view></div> 
      <div ui-view></div>
    </div>

   </div>
  </body>
</html>
