@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
	font-family: 'Open Sans', sans-serif;
	background-color: #e9eef5;
}

h1, h2{
	text-align: center;
}

table th, td{
	width: 180px;
	text-align: left;
}



/*registration*/

.register{
  width: 600px;
  height: 300px;
  border-radius: 10px;
  background-color: grey;
  margin: 100px auto;
  display: block; 
}

/*.register>h2{
  text-align: center;
}


.register>label, button, input{
  display: block;
  margin: 10px auto;
  width: 50%;
}*/


.add-directive{
  border-radius: 10px;
  background-color: grey;
 
  
}
/* main.html style */

.sort-by-section{
	border: 1px solid black;
	text-align: center;
	padding: 15px;
}
.sort-by-section div{
	display: inline-block;
	text-align: left;
}

.main-page-list-item{
	margin-bottom: 20px;
	list-style-type: none;
	height: auto;
	
}
.order-info{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
       background-color:#ffffff;

}

.titleForCompany{
	
	display: block;
	text-align: center;
}

.orderDetails{
	border: 1px solid black;
	display: block;
	padding: 5px;
	margin-bottom: 5px;
}

.orderDays{
	display: block;
	font-size: 0.8em;
}

.wrapper{
	position: fixed;
	top: 0;
	left:0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(	145, 212, 239, 0.7);
}

.extra-info{
	position: fixed;
	top: 10px;
	left: 25%;
	right: 25%;
	background-color: #e9eef5;
	
}

.extra-info .info{
	padding: 20px;
}

.delivery-info-title{
	display: block;
	background-color: black;
	color: white;
	text-align: center;
	padding: 15px 0px;
}

.delivery-info-title button{
	position: absolute;
	right: 10px;
	top: 0px;
	background-color: transparent;
	border: none;
	color: white;
	font-size: 2em;
}

.assignedDriver{
	display: block;
	font-size: 0.8em;
}
.orderStatus{
	display: block;
	font-size: 0.8em;
}

/* colors for menu */

.fk-menu-item-xl{
	background-color: #6a83a1;
	color: white !important;
}

.fk-menu-item-xl>.dropdown-toggle{
  background-color: #6a83a1;
  color: white !important;
}


.fk-menu-item-xl:hover{
	background-color: #28b2e6;
	color: white;
}

.fk-menu-item-xl:active{
	background-color: #28b2e6;
	color: white;
}


/* color coding for orders */

/*

#9caec7 - for todo
#c8d229 - packed
#7ac9b2 - delivered
#ee3972 - away


 */


 .angular-google-map-container { height: 400px; }

.yellowNotPacked{
	background-color: #9caec7;
	color: #ffffff;

}

.orangePacked{
	background-color: #c8d229;
	color: #ffffff;
}
.bluePicked{
	background-color: blue;
	color: #ffffff;
}
.redDelivered{
	background-color: #7ac9b2;
	color: #ffffff;
}


/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.fk-menu-item1-mb>.dropdown-toggle{
  		background-color: #4c99cf !important;
  	}

  	.fk-menu-item2-mb>.dropdown-toggle{
  		background-color: #4974a7 !important;
  	}

  	.fk-menu-item3-mb>.dropdown-toggle{
  		background-color: #5a5386 !important;
  	}

  	.fk-menu-item4-mb>.dropdown-toggle{
  		background-color: pink;
  	}

  	.fk-menu-item5-mb>.dropdown-toggle{
  		background-color: #534367;
  	}

  	.fk-menu-item6-mb>.dropdown-toggle{
  		background-color: pink;
  	}
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.fk-menu-item1-mb{
  		background-color: #4c99cf;
  	}

  	.fk-menu-item2-mb{
  		background-color: #4974a7;
  	}

  	.fk-menu-item3-mb{
  		background-color: #5a5386;
  	}

  	.fk-menu-item4-mb{
  		background-color: pink;
  	}

  	.fk-menu-item5-mb{
  		background-color: #534367;
  	}

  	.fk-menu-item6-mb{
  		background-color: pink;
  	}

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { .fk-menu-item1-mb{
  		background-color: #4c99cf;
  	}

  	.fk-menu-item2-mb{
  		background-color: #4974a7;
  	}

  	.fk-menu-item3-mb{
  		background-color: #5a5386;
  	}

  	.fk-menu-item4-mb{
  		background-color: pink;
  	}

  	.fk-menu-item5-mb{
  		background-color: #534367;
  	}

  	.fk-menu-item6-mb{
  		background-color: pink;
  	}
  	

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  	.fk-menu-item1-mb{
  		background-color: #4c99cf;
  	}

  	.fk-menu-item2-mb{
  		background-color: #4974a7;
  	}

  	.fk-menu-item3-mb{
  		background-color: #5a5386;
  	}

  	.fk-menu-item4-mb{
  		background-color: pink;
  	}

  	.fk-menu-item5-mb{
  		background-color: #534367;
  	}

  	.fk-menu-item6-mb{
  		background-color: pink;
  	}
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}
