<!-- customers.html -->
    <div class=" text-center">
        <h2>Customers</h2>
         
        <table>
            <thead>
              <tr>
                 <th>ID</th>
                 <th>Name</th>
                 <th>Address</th>
                 <th>Email</th>
                 <th>Phone</th>
                 <th>is Company</th>
                 <th>Company Name</th>
                 <th> </th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customer in customers">
                    <td>{{$index + 1}}</td>
                    <td>{{ customer.name }} {{ customer.surname }}</td> 
                    <td>{{ customer.street }} {{ customer.city }} {{ customer.postcode }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.phone }}</td>
                    <td>{{ customer.isCompany }} </td>
                    <td>{{ customer.companyName }}</td>
                    <td> <button class="btn" ng-click="removeCustomer(customer._id, $index)">x</button> </td>  
                </tr>
            </tbody>      
        </table>

    </div>