<!-- employees.html -->
<div class="">
  <h1>Employees list Page</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Phone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in employees">
        <td>{{$index + 1}}</td>
        <td>{{employee.firstName}}</td> 
        <td>{{employee.surname}}</td> 
        <td>{{employee.phone}}</td>
        <td> 
          <button ng-click="remove(employee._id, $index)">x</button>
        </td> 
        <td> 
          <button class="btn" ng-click="edit(employee)">Edit</button> 
        </td>  
      </tr>
    </tbody>      
  </table>
  <form ng-show="editing" ng-submit="editEmployee(employeeToEdit, employeeToEdit._id)" class="edit-item">
    <p>Employee name:</p>
    <input type="text" ng-model="employeeToEdit.firstName" size="30" placeholder="no name">
    <p>Employee surname:</p>
    <input type="text" ng-model="employeeToEdit.surname" size="30" placeholder="no surname">
    <p>Employee phone: </p>
    <input type="text" ng-model="employeeToEdit.phone" size="30" placeholder="no phone">
    <input type="submit" value="add" class="button-add">
  </form>
</div>
    
