<!-- employees.html -->
    <div class="">
        <h1>Employees list Page</h1>

        
        <div>
            <table>
                <thead>
                  <tr>
                     <th>ID</th>
                     <th>Name</th>
                     <th> </th>
                  </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in employees">
                        <td>{{$index + 1}}</td>
                        <td>{{employee.firstName}}</td> 
                        <td> <button ng-click="remove(employee._id, $index)">x</button> </td>  
                    </tr>
                </tbody>      
            </table>
        </div>    
    </div>
    