<!-- orders.html -->
<div class="">
  <h1>Order list Page</h1>
  <div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Customer</th>
          <th>Address</th>
          <th>Active</th>
          <th>Weeks</th>
          <th>Days</th>
          <th>Driver</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="order in orders">
          <td>{{$index}}</td>
          <td>{{ order.pack.name }}</td> 
          <td>{{ order.customer.companyName || order.customer.name }}</td>
          <td>{{ order.address }}</td>
          <td>{{ order.isActive }}</td>
          <td>{{ order.weeks }}</td>
          <td>{{ order.days.toString() }}</td>
          <td>{{ order.orderDriver }}</td>
          <td><button class="btn"><a href="">Edit</a></button> </td> 
          <td><button class="btn btn-danger" ng-click="removeOrder(order._id, $index)" aria-label="Remove">X</button></td>
        </tr>
      </tbody>      
    </table>
  </div>
</div>
    
