<!-- orders.html -->
    <div class="">
        <h1>Order list Page</h1>

         <!-- add new order -->
         <div>
            <button ng-click="toggle()">Add order</button>
         </div>
         <div ng-show="showForm">
	         <form ng-submit="addOrder()">
                    <p>What fruitpack do you deliver?</p>
                    <select ng-options="pack.name for pack in packs" ng-model="orderPack" ng-change="addPack(orderPack)"></select> 
                
                    <p>Customer: </p> 
                    <select ng-options="customer.name for customer in customers" ng-model="orderCustomer"></select>
               
                    <p>What is the address that you deliver to?</p>
                    <input type="text" ng-model="orderAddress"  size="70" placeholder="add address">
              
                    <p>Is it active by default?</p>
                    <input type="checkbox" ng-click="isActive()" ng-checked="activeCheck"><span>active</span>
                    <input type="checkbox" ng-click="isNotActive()" ng-checked="nonactiveCheck"><span>not active</span>
              
                    <p>Select weeks:</p>
                    <input type="checkbox" ng-click="selectWeek('every')" ng-checked="everyCheck"> <span>every</span> 
                    <input type="checkbox" ng-click="selectWeek('even')" ng-checked="evenCheck"> <span>even</span> 
                    <input type="checkbox" ng-click="selectWeek('odd')" ng-checked="oddCheck"> <span>odd</span>
                
                    <p>Select days:</p>
                    <input type="checkbox" ng-click="addDay('Monday')" ng-checked="dayChecked"> <span>Monday</span>
                    <input type="checkbox" ng-click="addDay('Tuesday')"  ng-checked="dayChecked"> <span>Tuesday</span>
                    <input type="checkbox" ng-click="addDay('Wednesday')"  ng-checked="dayChecked"> <span>Wednesday</span>
                    <input type="checkbox" ng-click="addDay('Thursday')"  ng-checked="dayChecked"> <span>Thursday</span>
                    <input type="checkbox" ng-click="addDay('Friday')"  ng-checked="dayChecked"> <span>Friday</span>
                    <input type="checkbox" ng-click="addDay('Saturday')"  ng-checked="dayChecked"> <span>Saturday</span>
                    <input type="checkbox" ng-click="addDay('Sunday')" ng-checked="dayChecked"> <span>Sunday</span>
                
                    <p>Delivery details</p>
                    <input type="text" size="200" ng-model="orderDetails">
              
                    <p>Delivery phone</p>
                    <input type="text" size="200" ng-model="telephone">
               
                    <p>Pick first delivery date: </p>
                    <input type="date" ng-model="orderFirstsDeliveryDate" size="30" placeholder="add date"> 
            
		                <input class="button-add" type="submit" value="add">
		     </form>
         </div>
         <div>
              <hr/>
                <select ng-options="employee.firstName for employee in employees" ng-model="driverToSort" ng-change="sortBy(driverToSort)"></select>
                {{ driverToSort.firstName }}
              <table class="friends">
                <tr ng-repeat="order in driversList">
                    <td>{{$index + 1}}</td>
                    <td>{{ order.pack.name }}</td> 
                    <td>{{ order.customer.companyName || order.customer.name }}</td>
                    <td>{{ order.address }}</td>
                    <td>{{ order.isActive }}</td>
                    <td>{{ order.weeks }}</td>
                    <td>{{ order.days.toString() }}</td>
                    <td>{{ order.orderDriver }}</td>
                    <td> <button class="btn"><a href="#orders/{{ order._id }}">More</a></button> </td>  
                    <td><button class="btn btn-danger" ng-click="removeOrder(order._id, $index)" aria-label="Remove">X</button></td>
                    <td><button class="btn" ng-click="markAsCompleted(order._id, $index)">Mark as completed</button></td>
                </tr>
              </table>
              <hr/>
        </div>
         

         <div>
            <table>
            <thead>
              <tr>
                 <th>ID</th>
                 <th>Name</th>
                 <th>Customer</th>
                 <th>Address</th>
                 <th>Active</th>
                 <th>Weeks</th>
                 <th>Days</th>
                 <th>Driver</th>
                 <th></th>
                 <th></th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in orders | orderBy:'-orderDriver'">
                    <td>{{$index + 1}}</td>
                    <td>{{ order.pack.name }}</td> 
                    <td>{{ order.customer.companyName || order.customer.name }}</td>
                    <td>{{ order.address }}</td>
                    <td>{{ order.isActive }}</td>
                    <td>{{ order.weeks }}</td>
                    <td>{{ order.days.toString() }}</td>
                    <td>{{ order.orderDriver }}</td>
                    <td> <button class="btn"><a href="#orders/{{ order._id }}">More</a></button> </td>  
                    <td><button class="btn btn-danger" ng-click="removeOrder(order._id, $index)" aria-label="Remove">X</button></td>
                </tr>
            </tbody>      
        </table>
         </div>
    </div>
    