<!-- packages.html -->
    <div class="">
        <h2>FruitPacks list Page</h2>

        
         <!-- add new order -->
         <div>
            <button ng-click="toggle()">Add package</button>
         </div>
         <div ng-show="showForm">
         	<form ng-submit="addPackage()">
         		<span>Fruitpack name:</span>
		        <input type="text" ng-model="packName "  size="30" placeholder="name">
		        <span>Weight, kg</span>
		        <input type="text" ng-model="packWeight"  size="70" placeholder="weight, like 5 kg">
		        <span>Fruits:</span>
		        <input type="text" ng-model="packFruits"  size="70" placeholder="like ananas, lemons, oranges">
		        
		        <input class="button-add" type="submit" value="add">
		     </form>
         </div>

	     <ul class="list" >
	     	<li ng-repeat="pack in packs">
	     		<span>{{$index + 1}}</span>
	     		<span>{{ pack.name }}</span>
	     		<span>{{ pack.weight }}</span>
	     		<span>{{ pack.fruits }}</span>
	     		
	     		<button class="btn"><a href="#packages/{{ pack._id }}">More</a></button> 
	        	<button class="btn btn-danger" ng-click="removePackage(pack._id)" aria-label="Remove">X</button>
	     	</li>
	            
	        
	           
	            <!--<button ng-click="customerList.activateEdit()">Edit</button>-->
	         
	      </ul>
    </div>
    