<!-- packages.html -->
    <div class="">
        <h2>FruitPacks list Page</h2>

        
        

	     <ul class="list" >
	     	<li ng-repeat="pack in packs">
	     		<span>{{$index + 1}}</span>
	     		<span>{{ pack.name }}</span>
	     		<span>{{ pack.weight }}</span>
	     		<span>{{ pack.fruits }}</span>
	     		
	     		<button class="btn"><a href="#packages/{{ pack._id }}">More</a></button> 
	        	<button class="btn btn-danger" ng-click="removePackage(pack._id)" aria-label="Remove">X</button>
	     	</li>
	            
	        
	           
	            <!--<button ng-click="customerList.activateEdit()">Edit</button>-->
	         
	      </ul>
    </div>
    