	<!-- today.html -->
    <div class="text-center">
        <h2>Today</h2>

        <!-- add new order -->
	  	<!--<ul class="list" >
	        <li ng-repeat="order in newOrderList">
	        	<span>{{$index + 1}}</span>
	        	<span>{{ order.pack.name }}</span>
	        	<span>{{ order.customer.name }}</span>
	        	<span>{{ order.weeks }}</span>
	        	<span>{{ order.days.toString() }}</span>
	        	<span>{{ order.status }}</span>
	        	<select ng-options="status for status in order.statusList" ng-model="order.status" ng-change="changedValue(order.status, order._id, $index)" ></select>
	        	{{order.driver}}
	        	<select ng-options="employee.name for employee in employees" ng-model="order.driver" ng-change="changedDriver(order.driver, order._id, $index)"></select>	
	        	
	        </li>
	    </ul>-->
	    <div>
              <hr/>
              	<label>By pack</label>
                <select ng-options="pack.name for pack in packs" ng-model="packToSort" ng-change="sortByPack(packToSort)"></select>
                {{ packToSort.name }}
              <table class="friends">
                <tr ng-repeat="order in packList">
                    <td>{{$index + 1}}</td>
                    <td>{{ order.pack.name }}</td> 
                    <td>{{ order.customer.companyName || order.customer.name }}</td>
                    <td>{{ order.address }}</td>
                    <td>{{ order.isActive }}</td>
                    <td>{{ order.weeks }}</td>
                    <td>{{ order.days.toString() }}</td>
                    <td>{{ order.orderDriver }}</td>
                    <td> <button class="btn"><a href="#orders/{{ order._id }}">More</a></button> </td>  
                    <td><button class="btn btn-danger" ng-click="removeOrder(order._id, $index)" aria-label="Remove">X</button></td>
                    <td><button class="btn" ng-click="markAsCompleted(order._id, $index)">Mark as completed</button></td>
                </tr>
              </table>
              <hr/>

              <hr/>
              	<label>Drivers:</label>
                <select ng-options="employee.firstName for employee in employees" ng-model="driverToSort" ng-change="sortByDriver(driverToSort)"></select>
                {{ driverToSort.firstName }}
              <table class="friends">
                <tr ng-repeat="order in driversList">
                    <td>{{$index + 1}}</td>
                    <td>{{ order.pack.name }}</td> 
                    <td>{{ order.customer.companyName || order.customer.name }}</td>
                    <td>{{ order.address }}</td>
                    <td>{{ order.isActive }}</td>
                    <td>{{ order.weeks }}</td>
                    <td>{{ order.days.toString() }}</td>
                    <td>{{ order.orderDriver }}</td>
                    <td> <button class="btn"><a href="#orders/{{ order._id }}">More</a></button> </td>  
                    <td><button class="btn btn-danger" ng-click="removeOrder(order._id, $index)" aria-label="Remove">X</button></td>
                    <td><button class="btn" ng-click="markAsCompleted(order._id, $index)">Mark as completed</button></td>
                </tr>
              </table>
              <hr/>
        </div>

	   	<table>
	   		<thead>
			  <tr>
			     <th>ID</th>
			     <th>Pack</th>
			     <th>Customer</th>
			     <th>Week</th>
			     <th>Days</th>
			     <th>Change Status</th>
			     <th>Status</th>
			     <th>Change Driver</th>
			     <th>Driver</th>
			  </tr>
			</thead>
			<tbody>
				<tr ng-repeat="order in newOrderList">
		    	<td>{{$index + 1}}</td>
		    	<td>{{ order.pack.name }}</td> 
		    	<td>{{ order.customer.name }}</td>
		    	<td>{{ order.weeks }}</td>
		    	<td>{{ order.days.toString() }}</td>
		    	
		    	<td><select ng-options="status for status in order.statusList" ng-model="order.orderStatus" ng-change="changedOrderStatus(order.orderStatus, order._id, $index)" ></select></td>
	        	<td>{{ order.orderStatus}}</td>
	        	<td><select ng-options="employee.firstName for employee in employees" ng-model="order.orderDriver" ng-change="changedDriver(order.orderDriver.firstName, order._id, $index)"></select></td>	
	        	<td>{{order.orderDriver.firstName}}</td>	
		  </tr>
			</tbody>	  
		</table>
	 
    </div>